<footer class="bg-black ph3 pv4 white">
  <div class="mw7 center pt3">
    <div class="flex-ns justify-between">
      <div>
        <ul class="mb3">
          <li><a href="/" class="link">Home</a></li>
          <li><a href="/#about" class="link">About Marcus</a></li>
          <li><a href="/work" class="link">Work with Marcus</a></li>
          <li><a href="/post" class="link">Blog</a></li>
          <li><a href="/contact" class="link">Contact</a></li>
        </ul>
      </div>
      <div>Copyright &copy; {{ dateFormat "2006" now }} Marcus Bean.</div>
    </div>
  </div>
</footer>

{{ partial "svg" . }}
