<nav
  class="flex justify-between items-center center bg-white divider-grey relative"
>
  <!-- Logo -->
  <a href="/" class="pa3 db mr4 h-100 flex-none">
    <img
      src="/img/marcus.svg"
      alt="Marcus Bean logo"
      class="br0 db mb0 w-100"
    />
  </a>

  <!-- Primary Nav -->
  <ul class="flex b grey-3">
    <li><a href="#about" class="pa3 no-underline db">About Marcus</a></li>

    <li><a href="/work" class="pa3 no-underline db">Work with Marcus</a></li>

    <li><a href="/post" class="pa3 no-underline db">Blog</a></li>

    <li><a href="/contact" class="pa3 no-underline db">Contact</a></li>
  </ul>
  <div class="flex">
    <a href="#" class="pa3 no-underline db">
      <img src="/img/social-facebook.svg" />
    </a>
    <a href="#" class="pa3 no-underline db">
      <img src="/img/social-twitter.svg" />
    </a>
    <a href="#" class="pa3 no-underline db">
      <img src="/img/social-instagram.svg" />
    </a>
    <a href="#" class="pa3 no-underline db">
      <img src="/img/social-tiktok.svg" />
    </a>
  </div>
</nav>
